<h1>About Us Page</h1>

<h4>Introduce about Us</h4>

<h4>We are 2nd year students at Durham College taking the Computer Programming course.</h4>
<img src="/images/personal2.jpeg" width="400" height="300" alt="DurhamCollege"/>

<h4>We have various programming experience in many languages <br/>
    for creating websites and applications.</h4>
<img src="/images/aboutus.jpg" width="400" height="200" alt="aboutUs"/>
